
<html>
    <head>
        <title>Keroro's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Keroro's Blog</a></h1>
        </div>

        <div>
            <p>published: 01.02.2020, 06:00</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. こんにちは、宜しくお願いします！</p>
        </div>

        <div>
            <p>公開日：2020/02/01, 06:00</p>
            <h2><a href="">２番目の投稿</a></h2>
            <p> こんにちは！　よろしくお願いします！　</p>
        </div>
    </body>
</html>


